[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
#tensorflow-gpu = "==1.0.1"
#keras = "==1.2.1"
tensorflow-gpu = "*"
keras = "*"
ipython = "*"
pandas = "*"
tables = "*"
pydot = "*"
pillow = "*"

[requires]
python_version = "2.7"
